.about-section {
    margin-top: -85px;
    padding-bottom: 90px;
    h2 {
        font-size: 54px;
        max-width: 1110px;
        line-height: 1.13;
        margin-bottom: 35px;
    }
}

.about-text {
    padding-right: 10px;
}