//----------  banner
//------------------------------------------------------------------------------
.banner {
	position: relative;

	.uk-container {
		min-height: 920px;
	}

	.banner-outer-border,
	.banner-inner-border,
	.banner-inner,
	.banner-inner::before {
		position: absolute;
	}

	.banner-inner-border,
	.banner-inner,
	.banner-inner::before {
		width: 100%;
	}

	.banner-outer-border {
		width: 300%;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		bottom: 0;
		clip-path: url('#svgBannerOuterPath');
		background-color: $green-light;
	}

	.banner-inner-border {
		clip-path: url('#svgBannerInnerPath');
		left: 50%;
		top: 20px;
		transform: translateX(-50%);
		bottom: 195px;
		background-color: $green-border;
	}

	.banner-inner {
		clip-path: url('#svgBannerBackgroundPath');
		left: 50%;
		top: 5px;
		transform: translateX(-50%);
		bottom: 5px;
		background-size: 42%;

		&::before {
			background-image: linear-gradient(to top, $green-border 3%, rgba($green-border, .5), transparent, transparent);
			content: '';
			left: 0;
			bottom: 0;
			height: 100%;
			z-index: 0;
		}
	}

	h2 {
		color: $white;
	}

	@media (max-width: $breakpointXlarge) {
		.banner-inner {
			background-size: 55%;
		}
	}

	@media (max-width: $breakpointLarge) {
		.uk-container {
			min-height: 740px;
		}

		.banner-outer-border {
			width: 380%;
		}

		.banner-inner-border {
			top: 15px;
			bottom: 155px;
		}

		.banner-inner {
			background-size: 57%;
		}
	}

	@media (max-width: $breakpointSmall) {
		.banner-text {
			bottom: 235px;
		}

		.uk-container {
			min-height: 595px;
		}

		.banner-outer-border {
			width: 500%;
		}

		.banner-inner-border {
			top: 13px;
			bottom: 125px;
		}

		.banner-inner {
			background-size: 70%;
		}
	}
}

.banner-text {
	bottom: 385px;
	position: absolute;
	left: 35px;
	width: calc(100% - 65px);

	@media (max-width: $breakpointLarge) {
		left: 40px;
		width: calc(100% - 80px);
	}

	@media (max-width: $breakpointSmall) {
		left: 20px;
		width: calc(100% - 40px);
	}
}

.banner-internal {
	.uk-container {
		padding: 0;
	}

	.banner-text {
		left: 55px;
	}

	.banner-outer-border {
		background-color: $blue-light;
	}

	.banner-inner-border {
		background-color: $blue-darker;
	}

	.banner-inner::before {
		background-image: linear-gradient(to top, $blue-darker 3%, rgba($blue-darker, .5), transparent, transparent);
	}

	@media (max-width: $breakpointSmall) {
		.banner-text {
			left: 15px;
			bottom: 235px;
		}
	}
}

.banner-small {
	position: relative;

	.uk-container {
		min-height: 675px;
		max-width: 780px;
	}

	.banner-outer-border,
	.banner-inner {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
	}

	.banner-outer-border {
		width: 300%;
		top: 0;
		bottom: 0;
		clip-path: url('#svgSmallBannerOuterPath');
		background-color: $blue-light;
	}

	.banner-inner {
		clip-path: url('#svgSmallBannerInnerPath');
		width: 100%;
		top: 20px;
		bottom: 195px;
		background-color: $blue-ultra;
	}

	@media (max-width: $breakpointLarge) {
		.uk-container {
			min-height: 550px;
		}

		.banner-text {
			bottom: 230px;
		}

		.banner-outer-border {
			width: 380%;
		}

		.banner-inner {
			bottom: 135px;
		}

		+.guidance-section {
			margin-top: -230px;
		}
	}

	@media (max-width: $breakpointSmall) {
		.uk-container {
			min-height: 500px;
		}

		.banner-text {
			bottom: 235px;
		}

		.banner-outer-border {
			width: 560%;
		}

		.banner-inner {
			bottom: 100px;
		}
	}
}

.banner-ellipse {
	position: relative;

	.uk-container {
		min-height: 1065px;
	}

	.banner-outer-border,
	.banner-inner-border,
	.banner-inner,
	.banner-inner::before {
		position: absolute;
	}

	.banner-outer-border {
		width: 130%;
		left: 1%;
		top: 0;
		bottom: 0;
		clip-path: url('#svgEllipseOuterPath');
	}

	.banner-inner-border {
		clip-path: url('#svgEllipseInnerPath');
		left: 50px;
		top: 17px;
		bottom: 175px;
		width: 92%;
	}

	.banner-inner {
		clip-path: url('#svgEllipseBackgroundPath');
		left: 4%;
		top: 1%;
		bottom: 75px;
		background-size: cover;
		width: 93%;

		&::before {
			content: '';
			left: 0;
			bottom: 0;
			height: 100%;
			z-index: 0;
			width: 100%;
		}
	}

	h2 {
		color: $white;
	}

	@media (max-width: $breakpointXlarge) {
		.banner-outer-border {
			width: 190%;
			left: -12%;
		}
	}

	@media (max-width: $breakpointLarge) {
		.uk-container {
			min-height: 845px;
			padding-left: 40px;
			padding-right: 40px;
		}

		.banner-inner-border {
			bottom: 140px;
			left: 30px;
			top: 7px;
		}

		.banner-inner {
			bottom: 60px;
		}
	}

	@media (max-width: $breakpointSmall) {
		.uk-container {
			min-height: 635px;
			padding-left: 20px;
			padding-right: 20px;
		}

		.banner-outer-border {
			width: 300%;
			left: -45%;
		}

		.banner-inner-border {
			bottom: 95px;
			top: 5px;
		}

		.banner-inner {
			bottom: 45px;
		}
	}
}

.banner-home {
	.banner-outer-border {
		background-color: $blue-light;
	}

	.banner-inner-border {
		background-color: $blue-darker;
	}

	.banner-inner::before {
		background-image: linear-gradient(to right, $blue-darker 1%, rgba($blue-darker, .2), transparent, transparent);
	}

	.banner-text {
		max-width: 890px;
		position: relative;
		bottom: auto;
		left: auto;
		width: 100%;
		padding-top: 260px;
	}

	h1 {
		margin-bottom: 25px;
		font-size: 44px;
	}

	.uk-button-primary {
		background-color: $white;

		&::before {
			background: radial-gradient(circle closest-side, $blue-dark, transparent);
		}

		span {
			color: $blue-dark;
			font-size: 20px;
			padding: 15px 65px 17px 42px;

			&::after {
				font-size: 15px;
				content: font-char($chevron-down);
				font-weight: 400;
				top: 50%;
				transform: translateY(-50%);
				right: 33px;
			}
		}

		@include hover {
			span {
				color: $white;

				&::after {
					color: inherit;
				}
			}
		}
	}

	.font-info {
		position: absolute;
		right: 40px;
		bottom: 205px;
		color: $white;
		padding-left: 30px;
		font-size: 14px;

		&::before {
			color: inherit;
			left: 0;
			position: absolute;
			font-size: 18px;
			top: 0;
		}
	}

	@media (max-width: $breakpointLarge) {
		.banner-text {
			padding-top: 190px;
		}

		h1 {
			font-size: 34px;
		}

		.font-info {
			bottom: 160px;
		}
	}

	@media (max-width: $breakpointSmall) {
		.banner-text {
			padding-top: 120px;
		}

		h1 {
			margin-bottom: 20px;
			font-size: 24px;
		}

		.uk-button-primary {
			max-width: 100%;
			min-width: 280px;

			span {
				font-size: 16px;
				padding: 4px 61px 5px 26px;
			}
		}

		.font-info {
			display: none;
		}
	}
}

.banner-guidance {
	.banner-outer-border {
		background-color: $blue-shade;
	}

	.banner-inner-border {
		background-color: $blue-aqua;
	}

	.banner-inner::before {
		background-image: linear-gradient(to right, $blue-aqua 2%, rgba($blue-aqua, .2), transparent, transparent);
	}
}
