.report-section {
    background-color: transparent;
    padding: 0;

    .read-only {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .uk-grid-medium>* {
        padding-left: 25px;
    }

    *+.uk-grid-margin-medium,
    .uk-grid+.uk-grid-medium,
    .uk-grid-medium>.uk-grid-margin {
        margin-top: 25px;
    }

    >.nb-standard-container {
        margin-top: -440px;

        h2 {
            color: $white;
        }

        .uk-button-secondary {
            margin: 55px 0 10px;
            font-size: 18px;

            &::before {
                background: radial-gradient(circle closest-side, $green-pastel-alt, transparent);
            }

            @include hover {
                span {
                    color: $green;
                }
            }
        }
    }

    @media (max-width: $breakpointLarge) {
        .uk-container {
            padding-left: 40px;
            padding-right: 40px;
        }

        .uk-grid-medium>* {
            padding-left: 30px;
        }

        *+.uk-grid-margin-medium,
        .uk-grid+.uk-grid-medium,
        .uk-grid-medium>.uk-grid-margin {
            margin-top: 30px;
        }

        >.nb-standard-container {
            margin-top: -380px;
        }
    }

    @media (max-width: $breakpointSmall) {
        .uk-container {
            padding-left: 20px;
            padding-right: 20px;
        }

        *+.uk-grid-margin-medium,
        .uk-grid+.uk-grid-medium,
        .uk-grid-medium>.uk-grid-margin {
            margin-top: 25px;
        }
        .uk-button-secondary {
            width: 100%;
            max-width: 280px;
        }
    }
}

.report-card {
    border-radius: 20px;
    transition: $nbSec ease-in-out;
    padding: 30px;

    h3 {
        color: $green-btn;
        margin: 0 0 10px;
        font-size: 26px;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .font-calendar {
        display: block;
        color: $green;
        padding-left: 25px;
        position: relative;
        font-size: 13px;
        margin-bottom: 30px;

        &::before {
            color: $green-calendar;
            position: absolute;
            left: 0;
            top: -2px;
            font-size: 20px;
        }
    }

    >a {
        z-index: 1;
    }

    .uk-button {
        transition: $nbSec ease-in-out;
        width: 100%;

        span {
            color: $green-btn;
        }
    }

    .uk-card-body {
        padding: 0;
    }

    @include hover {
        box-shadow: 3px 15px 41px 12px rgba($black, .15);

        h3 {
            text-decoration: underline;
        }

        .uk-button {
            background: $green-pastel-alt;
            border-color: $green-pastel-alt;

            span {
                color: $white;

                &::after {
                    color: inherit;
                }
            }
        }
    }
}

.report-icon {
    background-color: $green-lightest;
    height: 74px;
    width: 74px;
    border-radius: 10px;
    margin-bottom: 25px;
    padding-top: 12px;
    padding-left: 16px;

    img {
        width: 51px;
    }
}
