//----------  typography
//------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $bold;
	font-family: $font-rubik;
}

h2,
h3,
h4,
h5,
h6 {
	color: $blue-dark;
}

h1 {
	margin-bottom: 10px;
	font-size: 67px;
	color: $white;
	@media (max-width: $breakpointSmall) {
		font-size: 47px;
	}
}

h2 {
	font-size: 74px;
	@media (max-width: $breakpointLarge) {
		font-size: 54px;
	}
	@media (max-width: $breakpointSmall) {
		font-size: 44px;
	}
}

h3 {
	font-size: 34px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
	text-transform: uppercase;
}

p {
	margin-bottom: 15px;
	font-size: 18px;
	color: $nbGrey;

	a {
		font-size: inherit;
	}
}

a {
	font-size: 16px;
}

ul {
	list-style-type: none;
}

ol li {
	list-style-type: decimal;
}

img {
	width: 100%;
	height: auto;
}

blockquote {
	margin-left: 18px;
	border-left: 5px solid $blue-sky;
	padding: 20px 30px 18px 20px;
	margin-bottom: 25px;

	p,
	span {
		color: $blue-dark;
		font-style: normal;
	}

	p {
		font-family: $font-rubik;
		font-size: 22px;
		text-transform: uppercase;
		font-weight: $bold;
	}

	span {
		font-size: 18px;
	}
}