//----------  button
//------------------------------------------------------------------------------
a,
button {
	appearance: none;
	outline: none;
	transition: $nbSec ease-in-out;

	@include hover {
		text-decoration: none;
	}
}

button,
input[type='button'],
input[type='submit'] {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.uk-button,
.uk-button-text {
	font-family: $font-rubik;
	font-weight: $bold;
	position: relative;
	font-size: 16px;
	transition: $nbSec ease-in-out;
}

.uk-button-text {
	color: $blue-darker;
	padding-right: 30px;

	&::after {
		position: absolute;
		right: 0;
		font-size: inherit;
		font-weight: $bold;
		color: inherit;
		font-family: 'svgicons';
		content: font-char($chevron-right);
	}

	&::before {
		display: none;
	}

	&.uk-text-large {
		font-size: 20px;
	}

	&.uk-button-text-green {
		color: $green;
	}

	&.uk-button-text-red {
		color: $red;
	}

	@include hover {
		color: $blue-dark;

		&.uk-button-text-green {
			color: $green;
		}

		&.uk-button-text-red {
			color: $red;
		}
	}
}

.uk-button {
	appearance: none;
	border-radius: 15px;
	text-transform: none;
	overflow: hidden;
	padding: 0;
	border: 0;
	text-align: left;

	&::before {
		content: '';
		position: absolute;
		background: radial-gradient(circle closest-side, $red, transparent);
		left: var(--x);
		top: var(--y);
		width: 0;
		height: 0;
		transform: translate(-50%, -50%);
		transition: .1 ease;
		z-index: 1;
	}

	span {
		position: relative;
		pointer-events: none;
		display: inline-block;
		padding: 10px 80px 8px 37px;
		font-size: inherit;
		width: 100%;
		transition: $nbSec ease-in-out;
		z-index: 1;

		&::after {
			position: absolute;
			right: 30px;
			font-size: inherit;
			font-weight: 400;
			color: inherit;
			font-family: 'svgicons';
			content: font-char($chevron-right);
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&.uk-button-small {
		border-radius: 10px;
		font-size: 14px;

		span {
			padding: 6px 56px 6px 31px;

			&::after {
				right: 20px;
			}
		}
	}

	&.uk-button-large {
		border-radius: 20px;
		font-size: 20px;

		span {
			padding: 8px 64px 9px 40px;
		}
	}

	&.uk-button-green::before {
		background: radial-gradient(circle closest-side, $blue-dark, transparent);
	}

	&.uk-button-red::before {
		background: radial-gradient(circle closest-side, $green-btn, transparent);
	}

	@include hover {
		&::before {
			width: 500px;
			height: 500px;
		}
	}
}

.uk-button-primary {
	background-color: $blue-darker;

	span {
		color: $white;
	}

	&.uk-button-green {
		background-color: $green-btn;
	}

	&.uk-button-red {
		background-color: $red-btn;
	}
}

.uk-button-default,
.uk-button-secondary {
	span {
		color: $blue-outline-col;
	}

	&.uk-button-green span {
		color: $green;
	}

	&.uk-button-red span {
		color: $red;
	}

	@include hover {
		span {
			color: $white;

			&::before {
				color: $white;
			}
		}
	}
}

.uk-button-default {
	transition: border-color .1s ease;
	border-width: 4px;
	border-style: solid;
	border-color: $blue-outline-bg;

	&.uk-button-green {
		border-color: $green-outline-bg;
	}

	&.uk-button-red {
		border-color: $red-outline-bg;
	}

	span {
		padding: 4px 80px 6px 33px;
		transition: .1s ease;
	}

	&.uk-button-small span {
		padding: 2px 52px 2px 25px;
	}

	&.uk-button-large span {
		padding: 4px 60px 5px 36px;
	}

	@include hover {
		border-color: $red;

		&.uk-button-green {
			border-color: $blue-dark;
		}

		&.uk-button-red {
			border-color: $green-btn;
		}
	}
}

.uk-button-secondary {
	background-color: $blue-outline-bg;

	&.uk-button-green {
		background-color: $green-outline-bg;
	}

	&.uk-button-red {
		background-color: $red-outline-bg;
	}
}
