.nb-credit {
	line-height: 1;
	font-size: 13px;

	a {
		color: $nbRed;
		font-size: inherit;

		@include hover {
			color: $nbBlack;
		}

		img {
			height: 0.9rem;
			width: auto;
			vertical-align: bottom;
		}
	}
	@media (max-width: $breakpointSmall) {
		text-align: right;
		width: 100%;
	}
}
