.nb-legal {
	padding: 0 0 0 15px;
	width: 50%;

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin: 0 0 15px;
			padding: 0;

			a {
				color: $blue-darker;
			}

			@media (max-width: $breakpointMobile) {
				display: block;

				&:after {
					display: none;
				}
			}
		}
	}
	@media (max-width: $breakpointLarge) {
		padding: 0 0 0 80px;
        width: auto;
    }
	@media (max-width: $breakpointSmall) {
		padding: 0;
        width: 100%;
    }
}
