//
// Theme
//
// Config
@import 'config/variables.scss';

// Base
@import 'base/fonts.scss';
@import 'base/layout.scss';
@import 'base/typography.scss';

// Helpers
@import 'helpers/mixins.scss';

// Layout / Helpers
@import 'layout/_icon-font.scss';
@import 'helpers/helpers.scss';
@import 'layout/buttons.scss';
@import 'layout/forms.scss';

// UIkit
@import "uikit/base.scss";
@import "uikit/navbar.scss";
@import "uikit/logo.scss";
@import "uikit/breadcrumb.scss";
@import "uikit/form.scss";

// NB
@import "nb/block.scss";
@import "nb/responsive.scss";
@import "nb/file-icon.scss";
@import "nb/legal.scss";
@import "nb/credit.scss";

// Modules
@import 'modules/banner.scss';
@import 'modules/report-section.scss';

// Theme
@import "theme/base.scss";
@import "theme/header.scss";
@import "theme/footer.scss";
@import "theme/ie11.scss";
@import "theme/print.scss";


// Template | Remove or Integrate

// uikit/base
a,
.uk-link {
	color: $nbRed;
}

.uk-link-toggle:focus .uk-link,
.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
	color: $nbRed;
}

// uikit/logo
.uk-logo {

	img {
		width: 228px;
	}
}

// uikit/breadcrumb
.uk-breadcrumb {
	margin: 0 0 40px;
	>*>* {
		font-size: 14px;
		color: $white;
		position: relative;
	}

	>:nth-child(n+2):not(.uk-first-column)::before {
		content: font-char($chevron-right);
		font-family: 'svgicons';
		font-size: 8px;
		color: $white;
	}
	>li:not(:first-of-type) a::after {
		position: absolute;
		left: 0;
		height: 1px;
		background-color: $white;
		content: '';
		width: 100%;
		bottom: 0;
	}

	> :last-child>* {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-block;
		vertical-align: middle;
		color: $white;
	}

	@media (max-width: $breakpointXsmallMax) {
		max-width: 128px;
	}
}

// uikit/form
.uk-input:not(.uk-form-danger),
.uk-select:not(.uk-form-danger),
.uk-textarea:not(.uk-form-danger),
.uk-checkbox:not(.uk-form-danger),
.uk-radio:not(.uk-form-danger),
.uk-checkbox:checked:not(.uk-form-danger),
.uk-radio:checked:not(.uk-form-danger) {
	border-color: rgba($blue, .2);
	border-width: 3px;
	border-radius: 15px;
	font-size: 16px;
	color: $blue-dark;
	min-height: 55px;
	padding: 18px 20px;
	&:focus {
		border-color: $blue-darker;
	}
}

.uk-textarea:not(.uk-form-danger) {
	min-height: 150px;
	resize: vertical;
}

// theme/header
#nav {

	@media (max-width: $breakpointXsmallMax) {
		background-color: $nbWhite;
		border-top: 1px solid $nbOffWhite;
		height: calc(100% - 80px);
		left: 0;
		overflow: auto;
		position: fixed;
		top: 80px;
		width: 100%;

		&.nav-toggle {
			display: none;
		}

		.uk-navbar-nav {
			display: block;
			padding-bottom: $nbGutter;
			padding-top: $nbGutter;
		}

		.uk-navbar-item,
		.uk-navbar-nav>li>a,
		.uk-navbar-toggle {
			display: block;
			min-height: 0;
			padding-bottom: $nbGutter;
			padding-top: $nbGutter;
		}
	}
}

// theme/footer
.footer {
	font-size: 0.9rem;

	@media (max-width: $breakpointMobile) {
		font-size: 0.8rem;
	}
}
